[submodule "gradle/TorangToml"]
	path = gradle/TorangToml
	url = https://github.com/sarang628/TorangToml.git
[submodule "app/src/main/java/com/sarang/torang/di/dialogsbox_di"]
	path = app/src/main/java/com/sarang/torang/di/dialogsbox_di
	url = https://github.com/sarang628/dialogsbox_di
